[Desktop Entry]
Type=Link
Name=Wincontrol
Name[be]=Кіраванне вокнамі
Name[cs]=Ovládání okna
Name[es]=Control de ventanas
Name[pt]=Controlo de janelas
Name[ru]=Управление окнами
Name[sk]=Ovládanie okna
Icon=e-module-wincontrol
X-Enlightenment-ModuleType=utils
Comment=Gadget for controlling window actions.
Comment[be]=Гаджэт для кіравання вокнамі.
Comment[cs]=Umožňuje ovládání akcí okna.
Comment[es]=Gadget para gestionar acciones de ventana.
Comment[fr]=Permet certaines actions sur la fenêtre.
Comment[it]=Gadget per gestire le azioni della finestra.
Comment[pl]=Umożliwia ustawienie akcji okien.
Comment[pt]=Permite controlar as ações de janela.
Comment[ru]=Гаджет для управления окнами.
Comment[sk]=Umožňuje ovládanie okenných akcií.
